
[Desktop Entry]
Name=Saphire Gmail
Comment=ssmtp utility for gmail
Categories=GNOME;Utility;
Exec=python /home/alectramell/saphire/saphiremail/__main__.py &
Icon=/home/alectramell/saphire/saphiremail/saphiremail64x64.png
Terminal=true
Type=Application

